@model Ksiegarnia.Models.Order

@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>Order Confirmation</h1>
<hr />
<p>Purchase successful!</p>

<h2>Order Details</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Count</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Count</td>
                <td>@item.UnitPrice</td>
                <td>@(item.UnitPrice * item.Count)</td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <label>Total Price: </label>
    <span>@Model.SumPrice</span>
</div>
<a asp-action="Index" asp-controller="CustomerBooks" class="btn btn-secondary">Back to Store</a>