@model IEnumerable<Ksiegarnia.Models.Book>

@{
    ViewData["Title"] = "Recommendations";
    var recommendationReasons = ViewData["RecommendationReasons"] as Dictionary<int, string>;
}

<h1>Recommendations</h1>
<hr />
@if (ViewData["Message"] != null)
{
    <p>@ViewData["Message"]</p>
}
else
{
    <form asp-action="GenerateRecommendations" method="post">
        <button type="submit" class="btn btn-success">Generate Recommendations</button>
    </form>
    <div class="row mt-3">
        @foreach (var book in (List<Ksiegarnia.Models.Book>)ViewData["RecommendedBooks"])
        {
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <p class="card-text text-muted">Because you like books of <strong>@recommendationReasons[book.Id]</strong> theme</p>
                        <a asp-action="Details" asp-controller="CustomerBooks" asp-route-id="@book.Id" class="btn btn-info btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
